
betweenlands_gallery
craftpresence
crash-reports
downloads
dumps
journeymap
llibrary
local
logs
mods
resourcepacks
saves
screenshots
shaderpacks
snapshots-server
.curseclient
.mixin.out
crafttweaker.log
hotbar.nbt
minecraftinstance.json
OpenComputersMod-1.7.5.192-lua52-native.64.dll
OpenComputersMod-1.7.5.192-lua53-native.64.dll
options.txt
usercache.json
usernamecache.json